@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}

html {
    /* Set root font-size to 10px so that rem unit calcs are easier  */
    font-size: 10px;
}

body {
    background-color: #eef4f4;
    color: #344d2c;
    display: flex;
    flex-direction: column;
    font-family: Raleway, sans-serif;
    font-size: 1.6rem;
    margin: 0 0 7rem; /* footer height */
    min-height: 100vh;
    position: relative;
}

h1 {
    letter-spacing: 3px;
    text-transform: uppercase;
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
    padding: 5px;
    text-decoration: none;
}

/** 
* Header, logo & navbar
*/
header {
    align-items: center;
    background-color: #344d2c;
    color: #eef4f4;
    display: flex;
    height: 7.5rem;
    justify-content: space-between;
}

#logo {
    color: #eef4f4;
    margin: auto;
    padding: 20px;
}

#navbar {
    margin: auto, 0;
    padding: 20px;
    width: 400px;
}

#navbar > ul {
    display: flex;
    justify-content: space-evenly;
}

#navbar > ul > li {
    align-items: center;
    text-align: center;
    width: 80px;
}

#navbar a {
    color: inherit;
}

#navbar a:hover {
    border-bottom: 3px solid #edda1c;
    color: #edda1c;
}

.active {
    border-bottom: 3px solid #edda1c;
}

/** 
* Hero image section
*/
#hero-section {
    height: 60vh;
    width: 100%;
    position: relative;
}

#hero-image {
    background: url('../images/vw-mountains-4x4.jpeg'); 
    background-repeat: no-repeat;
    /* 
        not happy with way image is not balanced in viewport after resizing
        will have to revisit this later to improve
    */
    background-position: center;
    background-position-y: -190px;
    background-size: cover;
    height: 60vh;
    width: 100%;
}

/*
* Main content section
*/
#main-section {
    display: flex;
    flex: 1;
    margin: auto, 0;
    padding: 2rem;
    transition: 2s ease-in-out;
}

.content-text {
    background-color: palegreen;
    padding: 2rem;
    width: 66%;
}

.content-img-sidebar {
    background-color: palevioletred;
    padding: 2rem;
    width: 33%;
}


/**
* Footer
*/
#footer {
    background-color: #344d2c;
    bottom: 0;
    color: #eef4f4;
    display: flex;
    height: 7rem;
    justify-content: space-between;
    align-items: center;
    left: 0;
    padding: 10px;
    width: 100%;
}

#copyright {
    width: 400px;
    line-height: 3rem;
    display: flex;
    align-items: center;
    padding: 20px;
}

#social-links > ul {
    display: flex;
    justify-content: space-evenly;
    margin: auto, 0;
    width: 400px;
}

#social-links {
    flex-direction: row;
    font-size: 3.2rem;
}

#social-links a {
    color: inherit;
}

#social-links a:hover {
    color: #edda1c;
}

/* 
* Signup Page
*/

#signup-img-section {
    background: url('../images/course-marshalled.jpg'); 
    background-repeat: no-repeat;
    background-position-y: 30%;
    background-size: cover;
    flex: 1;
    width: 100%;
}

#signup-form {
    background-color: rgba(238, 244, 244, 0.9);
    border: 3px solid #edda1c;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    max-width: 50rem;
    margin: 2% 0 2% 10%;
}
#signup-form h2 {
    padding: 20px;
    letter-spacing: 2px;
}

#signup-form input, label {
    margin-left: 2rem;
    margin-top: 1rem;
    max-width: 45rem;
}

.input-field {
    background: transparent;
    border: 1px solid ;
    border-radius: 2px;
    height: 3rem;
}

.input-field:hover {
    border: 3px solid #edda1c;
}

.checkbox-wrapper {
    display: flex;
    flex-direction: row;
}

.checkbox {
    border-radius: 5px;
    height: 3rem;
    padding: ;
    width: 3rem;
}

.checkbox-text {
    margin-left: 2rem;
}

.checkbox:hover {
    border: 3px solid #edda1c;
}


#signup-form-notice {
    margin: 4rem 2.5rem 1rem 2.5rem;
}

.submit-button {
    background-color: green;
    border: 2px solid #edda1c;
    border-radius: 5px;
    color: #edda1c;
    font-size: large;
    padding: 15px;
    letter-spacing: 1px;
    margin: 20rem 0 2.5rem 2.5rem;
    width: 20rem;
    /* vertical-align: bottom; */
}

.submit-button:hover {
    background-color: #edda1c;
    border-color: green;
    color: green;
}
