@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}

html {
    /* Set root font-size to 10px so that rem unit calcs are easier  */
    font-size: 10px;
}

body {
    background-color: #eef4f4;
    color: #344d2c;
    display: flex;
    flex-direction: column;
    font-family: Raleway, sans-serif;
    font-size: 1.6rem;
    min-height: 100vh;
}

body h2 {
    width: 100%;
}

a {
    text-decoration: none;
}


li {
    list-style-type: none;
    padding: 5px;
    text-decoration: none;
}

.inline-link {
    color: #344d2c;
    font-weight: bold;
}

/* 
* Header, logo & navbar
*/
header {
    background-color: #344d2c;
    color: #eef4f4;
    min-height: 7.5rem;
    left: 0;
    width: 100%;
}

.navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.logo {
    color: #eef4f4;
    font-size: 2em;
    font-weight: bolder;
    margin: auto;
    width: 400px;
    padding: 10px;    
    letter-spacing: 3px;
    text-transform: uppercase;
    text-align: center;
}

#menu {
    margin: auto 0;
    padding: 20px;
    width: 400px;
}

#menu > ul {
    display: flex;
    justify-content: space-evenly;
}

#menu > ul > li {
    align-items: center;
    text-align: center;
    width: 80px;
}

#menu a {
    color: inherit;
}

#menu a:hover {
    border-bottom: 3px solid #edda1c;
    color: #edda1c;
}

.active {
    border-bottom: 3px solid #edda1c;
}

/* 
* Hero image section
*/
#hero-section {
    width: 100%;
}

#hero-image {
    background: url('../images/vw-mountains-4x4.jpeg'); 
    /* background: url('../images/itsa-dogs-life.jpg');  */
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 60vh;
    width: 100%;
}

/*
*
*  Main content styling
*
*/
.section-flex-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 10px 0;
}

.section-heading {
    width: 100%;
    text-align: center;
    margin: 10px auto;
}

.content-wrapper {
    /* background-color: #f4f1d6; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 45%;
}

.content-text {
    /* background-color: paleturquoise; */
    padding: 1rem;
    width: 90%;
    text-align: center;
}

.hr-style {
    color: #344d2c;
    border: 1px solid;
    margin: auto;
    width: 50%;
}

.image-wrapper {
    position: relative;
    /* to maintain 4:3 aspect ratio padding-bttom: 75% */
    padding-bottom: 75%;  
}

.image-wrapper img { 
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.image-wrapper iframe { 
    position: absolute;
    border: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.image-aside {
    background: url('../images/syncro-nose-in-mud-img_1921-2.jpg'); 
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 400px;
    /* height: 60vh; */
    /* width: 100%; */

}

.sticky-note {
    background-color: #ffff99;
    height: 350px;
    width: 400px;
    padding: 2rem;
    text-align: center;
}

/* 
Embedded iframe for YouTube video link
for 16:9 aspect ratio padding-bottom: 56.25%
for 4:3 aspect ratio padding-bttom: 75%
*/
.video-wrapper {
    margin: 1rem;
    position: relative;
    width: 45%;
}

.video-wrapper.iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    /* height: 100%; */
}


/*
* Footer
*/
#footer {
    align-items: center;
    background-color: #344d2c;
    bottom: 0;
    color: #eef4f4;
    display: flex;
    height: 7rem;
    justify-content: space-between;
    left: 0;
    padding: 10px;
    width: 100%;
}

#copyright {
    align-items: center;
    display: flex;
    justify-content: flex-start;
    line-height: 3rem;
    padding: 20px;
    max-width: 320px;
}

#social-links > ul {
    display: flex;
    justify-content: space-evenly;
    margin: auto 0;
    width: 320px;
}

#social-links {
    flex-direction: row;
    font-size: 3.2rem;
}

#social-links a {
    color: inherit;
}

#social-links a:hover {
    color: #edda1c;
}

/* 
* Signup Page
*/

#signup-img-section {
    background: url('../images/course-marshalled.jpg'); 
    background-repeat: no-repeat;
    background-position-y: 30%;
    background-size: cover;
    flex: 1;
    width: 100%;
}

#signup-form {
    background-color: rgba(238, 244, 244, 0.9);
    border: 3px solid #edda1c;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    max-width: 50rem;
    margin: 2% 0 2% 10%;
}
#signup-form h2 {
    padding: 20px;
    letter-spacing: 2px;
}

#signup-form input, label {
    margin-left: 2rem;
    margin-right: 2rem;
    margin-top: 1rem;
    max-width: 45rem;
}

.input-field {
    background: transparent;
    border: 1px solid ;
    border-radius: 2px;
    height: 3rem;
}

.input-field:hover {
    border: 3px solid #edda1c;
}

.checkbox-wrapper {
    display: flex;
    flex-direction: row;
}

.checkbox {
    border-radius: 5px;
    height: 3rem;
    width: 3rem;
}

.checkbox-text {
    margin-left: 2rem;
}

.checkbox:hover {
    border: 3px solid #edda1c;
}


#signup-form-notice {
    margin: 4rem 2.5rem 1rem 2.5rem;
}

.submit-button {
    background-color: #344d2c;
    border: 2px solid #edda1c;
    border-radius: 5px;
    color: #edda1c;
    font-size: large;
    padding: 15px;
    letter-spacing: 1px;
    margin: 20rem 0 2.5rem 2.5rem;
    width: 20rem;
    /* vertical-align: bottom; */
}

.submit-button:hover {
    background-color: #edda1c;
    border-color: #344d2c;
    color: #344d2c;
}

/* 
*   Media queries for responsive design
*/

/* For small screen sizes 800px and down */
@media screen and (max-width: 800px) {
    .navbar {
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        height: auto;
    }

    .logo {
        text-align: center;
        width: 320px;
        padding: 10px 0;
    }
    #menu {
        padding: 10px 0;
        width: 320px;
    }
    
    .section-flex-wrapper {
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        height: auto;
    }

    .content-wrapper {
        width: 90%;
    }

    .video-wrapper {
        width: 90%;
        height: 0;
        /* for 4:3 aspect ratio padding-bttom: 75% */
        padding-bottom: 75%;
    }
  
    .image-wrapper {
        width: 90%;
        height: 0;
        /* for 4:3 aspect ratio padding-bttom: 75% */
        padding-bottom: 75%;
    }

    #footer {
        flex-direction: column-reverse;
        height: auto;
        justify-content: flex-start;
    }

    #copyright {
        justify-content: center;
        padding: 10px;
        width: 400px;
    }
}